body {
 
 background-color:white;
 margin:0;
 padding:0;
 -webkit-background-size: cover; /* pour anciens Chrome et Safari */
 background-size: cover; /* version standardis�e */
 overscroll-behavior: contain;
}

body::-webkit-scrollbar {
  display: none;
}

/* unvisited link */
a:link {
  color: white;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: white;
}

/* selected link */
a:active {
  color: white;
}


.noselect{
	-webkit-touch-callout: text;
    -webkit-user-select: text;
     -khtml-user-select: text;
       -moz-user-select: text;
        -ms-user-select: text;
            user-select: text;
}

.dateTitle{
	position: fixed;
	top: 26px;
	width:100%;
	color: black;
	font-family: sans-serif;
	font-size: 350%;
	line-height: 60px;
	display:none;
	background-color:white;
	z-index:8000;
	
	text-align:center;
}

.blink {
  animation: blinker 1s linear infinite;
}

.footer{
	color: #fff;
    position: fixed;
    bottom: 30px;
    right: 20px;
}



.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}



